@font-face {
  font-family: "Devil May Cry";
  src: url("assets/devil_may_cry.woff") format('woff');
}
/*
=================================================
MISC
=================================================
*/
.to-top{
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 40px;
}
/*Typography*/
.DMC{
  font-family:'Devil May Cry', sans-serif;
  color:red;
  font-size: 50px;
}
.loredrop{
  font-family: 'Righteous';
}
.buttons{
  font-family: 'Audiowide';
}
.heading{
  font-family: 'Teko';
}
/*
background
*/
body{
  
background:linear-gradient(90deg, rgba(12,97,110,1) 0%, rgba(202,0,0,1) 50%, rgba(12,97,110,1) 100%);
}
/*Boxes*/
.profile-box1{
    background-color:linear-gradient(90deg, rgba(12,97,110,1) 0%, rgba(202,0,0,1) 50%, rgba(12,97,110,1) 100%);
    
}
.profile-box2{
  background-color: rgb(242, 63, 53);
  
  
}
.profile-box3{
  background-color: rgb(106, 183, 202);
  border-bottom: 20px solid #000;
}
.profile-box4{
  background-color: rgb(100, 171, 237);
  border-bottom: 20px solid #000;
}
.profile-box5{
  background-color: rgb(68, 3, 246);
}
.Vergil-Chair {
    border-color: blue;
    height: 300px;
    width: 400px;
  }
  .wrapper {
    background-color: rgba(15, 19, 252, 0.921);
    padding: 20px;
    padding: 20px;
    z-index: 0;
  }
  .div4{
    text-align: right;
  }
  
  /*NavBar*/
  .navbar-brand {
    font-weight: 900;
    text-transform: uppercase;
  }
  .navbar-brand:hover{
    background-color: dodgerblue;
  }
  .nav-item:hover{
    background-color: dodgerblue;
  }
  /*Buttons*/
  .button1 {
    background-color:rgb(106, 183, 202);
    margin-top: 20px;
    padding:10px;
  }
  .button1:hover{
    background-color: dodgerblue;
  }
  .button2 {
    background-color: rgb(100, 171, 237);
    margin-top: 20px;
    padding:10px;
  }
  .button2:hover{
    background-color: dodgerblue;
  }
  .button3 {
    background-color: rgb(68, 3, 246);
    margin-top: 20px;
    padding:10px;
  }
  .button3:hover{
    background-color: dodgerblue;
  }